<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Innovid Multi-Display Toolkit</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">

  </head>
  <body>
      <h1>Innovid Multi-Display Toolkit</h1>
      <h3>Upload videos here to use for the kit.</h3>
      <strong>Things to keep in mind:</strong>
      <ul>
        <li>Please avoid using special characters (anything besides "-" and "_") and spaces in your video titles.</li>
        <li>Make sure to select the appropriate device for the video before uploading!</li>
      </ul>
      <br>

      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
          {% for error in field_errors %}
            <li class="alert alert-error">
              {{ form[field_name].label.text }} - {{ error }}
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}

      <form method="POST" enctype="multipart/form-data" role="form">

        {{ form.csrf_token }}

        <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="submissionfield") }}
      </div>
      <br>

      <div class="form-group">
        {{ form.raw_tag.label }}
        {{ form.raw_tag(class="tag-menu")}}
      </div>
      <br>

      <div class="form-group">
         {{ form.fileupload.label }}<br>
         {{ form.fileupload(class="button") }}
      </div>
      <br>
      <input class="button" type="submit" value="Upload">

      </form>
  </body>

</html>