<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <script type="text/javascript" src="static/dropzone.js"></script>
    <script>

      Dropzone.options.myAwesomeDropzone ={
        url: "/",
        autoProcessQueue: false,
        paramName: "file",
        method: "POST",

        init: function() {

          var myDropzone = this;

          window.addEventListener('loaded', function() {
            this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
              e.preventDefault();
              e.stopPropogation();
              myDropzone.processQueue();
            });
          });

          this.on("addedfile", function() {
            alert("files finished!");
            console.log(this.options.method);
          });
        }

      }

    </script>
  </head>
  <body>
      <h1>Welcome</h1><br>
      <br>

      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
          {% for error in field_errors %}
            <li class="alert alert-error">
              {{ form[field_name].label.text }} - {{ error }}
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}

      <form action="/" class="dropzone" id="myAwesomeDropzone" role="form">

        {{ form.csrf_token }}

        <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
      </div>

      <div class="fallback">

      </div>
      <br>
      <input class="button" type="submit" value="Upload">

      </form>
  </body>

</html>