<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
      <h1>Welcome</h1><br>
      <br>

      {% if form.errors %}
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
          {% for error in field_errors %}
            <li class="alert alert-error">
              {{ form[field_name].label.text }} - {{ error }}
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}

      <form method="POST" enctype="multipart/form-data" role="form">

        {{ form.csrf_token }}

        <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.raw_tag.label }}
        {{ form.raw_tag(class="form-control") }}
      </div>


      <div class="form-group">
         {{ form.fileupload.label }}
         {{ form.fileupload(class="btn btn-info") }}
      </div>
      <br>
      <input class="button" type="submit" value="Upload">

      </form>
  </body>

</html>