<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <script type="text/javascript" src="static/dropzone.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Innovid</h3>
        <h4 class="text-muted">Uploads for Multi-Screen Display App</h4>
      </div>
      <hr/>
      <div>
      
      <form method="POST" enctype="multipart/form-data" role="form">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.title.label }}
          {{ form.title(class="form-control") }}
        <div class="form-group">
          {{ form.fileupload.label }}
          {{ form.fileupload(class="btn btn-info") }}
        </div>
        <br><br>
        <input class="btn btn-success" type="submit" value="upload">


      </form>
      </div>
      <div>
    </div>
    </div>
  </body>
</html>